transformers
langchain
huggingface_hub
huggingface
urllib3<2.0
ipywidgets
torch
sentencepiece
joblib
openai
python-dotenv
pypdf
chromadb
tiktoken
streamlit
watchdog
prompttools
jinja2
# llama-cpp-python
# anthropic
pyperclip
google-generativeai
tenacity
sentry_sdk
unstructured
PyPDF2
faiss-cpu